body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.salary-slip {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
    position: relative;
}


/* Center the company symbol in the background */
.background-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure the image stays above the content */
    opacity: 0.18; /* Apply transparency to the image */
    pointer-events: none; /* Disable interaction with the background image */
}

.background-image img {
    max-width: 1200px; /* Adjust the image size as needed */
    width: 350px;
    height: 400px;
}

.header {
    text-align: center;
    margin-bottom: 1px;
}

.header img {
    max-width: 150px;
}



form {
    margin-bottom: 10px;
    text-align: center;
}

form label {
    font-size: 16px;
    color: #333;
}

form select {
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 10px;
    cursor: pointer;
}

h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 14px;
}

table th {
    background-color: #f4f4f4;
    color: #333;
}

table td {
    background-color: #fff;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
}

p {
    text-align: right;
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

a {
    text-decoration: none;
}

p {
    text-align: center;
    color: red;
    font-size: 16px;
}
