{% load static %}
<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">

        <link rel="stylesheet" href="{% static 'css/login.css' %}">

        <title>LoRa Innovations | Login</title>

    </head>

    <body>

        <nav class="navbar navbar-expand-lg transparent"></nav>

        <div class='row container mt-5'>

            <div class='col-sm image-container mt-5 pt-5'>
                <img id="imglora1" src="https://www.lorainnovations.com/assets/img/Lora.jpg" alt="Lora IT Innovations Logo">
            </div>

            <div class='col-sm-5 form mt-5'>
                <h3 class='mx-auto'>Login</h3>
                <hr class='col-8'>
                <p class="text pb-3">Expore Everything with LoRa</p>
                <form action="" method='POST'>
                    {% csrf_token %}
                    <div class="col-8 mb-3">
                        <label class="form-label">Employee ID</label>
                        <input class="form-control" type="username" id="username" name="username" placeholder="Employee id" requried>
                    </div>
                    <div class="col-8 mb-3">
                        <label class="form-label">Password</label>
                        <input class="form-control" type="password" id="password" name="password" placeholder="Password" requried>
                    </div>
                    <div id="butt" class="col-8 password-links">
                        <a href="{% url 'forgot_password' %}" class="forgot-password">Forgot Password?</a>
                        <a id="forgot" href="{% url 'reset_password' %}" class="reset-password">Reset Password?</a>
                    </div>
                    <button  class="btn btn-outline-success mt-2" value='submit'>Login</button>
                    <div class="mt-3">
                        {% if message %}
                            <p class='text-center' style='color:red;'><b>{{ message}}</b></p>
                        {% endif %}
                    </div>
                </form>
            </div>
        
        </div>


        {% include 'partials/bootjs.html' %}

    </body>

</html>