{% extends 'base.html' %}
{% load static %}

{% block title %}Muster update{% endblock %}

{% block sidebar %}
<link rel="stylesheet" href="{% static 'css/muster.css' %}" >


<li class="sidebar-item">
    <a href="/muster" class="sidebar-link mt-2 w3-bar-item w3-button tablink" style='color: black;'>
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-stopwatch mx-3" viewBox="0 0 16 16">
            <path d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5z"/>
            <path d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64l.012-.013.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5M8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3"/>
        </svg>
        Muster Update
    </a>
</li>

<li class="sidebar-item">
    <a href="/muster_status" class="sidebar-link mt-2 w3-bar-item w3-button tablink" style='color: black;'>
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-calendar2-check mx-3" viewBox="0 0 16 16">
            <path d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z"/>
            <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
        Muster Status
    </a>
</li>

<li class="sidebar-item">
    <a href="/leave_balance" class="sidebar-link mt-2 w3-bar-item w3-button tablink" style='color: black;'>
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-calendar2-week mx-3" viewBox="0 0 16 16">
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z"/>
            <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5zM11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
        </svg>
        Leave and Balance
    </a>
</li>

<li class="sidebar-item">
    <a href="/holidays" class="sidebar-link mt-2 w3-bar-item w3-button tablink" style='color: black;'>
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-x-diamond mx-3" viewBox="0 0 16 16">
            <path d="M7.987 16a1.53 1.53 0 0 1-1.07-.448L.45 9.082a1.53 1.53 0 0 1 0-2.165L6.917.45a1.53 1.53 0 0 1 2.166 0l6.469 6.468A1.53 1.53 0 0 1 16 8.013a1.53 1.53 0 0 1-.448 1.07l-6.47 6.469A1.53 1.53 0 0 1 7.988 16zM7.639 1.17 4.766 4.044 8 7.278l3.234-3.234L8.361 1.17a.51.51 0 0 0-.722 0M8.722 8l3.234 3.234 2.873-2.873c.2-.2.2-.523 0-.722l-2.873-2.873zM8 8.722l-3.234 3.234 2.873 2.873c.2.2.523.2.722 0l2.873-2.873zM7.278 8 4.044 4.766 1.17 7.639a.51.51 0 0 0 0 .722l2.874 2.873z"/>
        </svg>
        List of Holiday's
    </a>
</li>
{% endblock %}

{% block content %}


<div class="mx-auto">

    <div class='col'>
        <h5 class="text-center mx-auto mt-4">Muster Form</h5>
        <hr class='text-center mx-auto col-3'>
    </div>

    <form action="/muster" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row mx-auto mb-4">

            <div class="col">
                <label for="employee_id" class="form-label">Employee ID</label>
                <input type="username" class="form-control" name="employee_id" id="employee_id" placeholder="Enter Employee ID" value="{{ employee_id }}" readonly required>
            </div>

            <div class="col">
                <label for="date" class="form-label" style='color: black;'>Date</label>
                <input type="date" class="form-control" id="date" value="{{ today_date }}" name="date" required>
            </div>
            
        </div>

        <div class="row mx-auto mb-4">

            <div class="col">
                <label for="clock_in_time" class="form-label" style='color: black;'>Clock IN</label>
                <input type="datetime-local" class="form-control" id="clock_in_time" name="clock_in_time"  value="{{ clock_in_time|date:'Y-m-d H:i' }}" required>
            </div>

            <div class="col">
                <label for="clock_out_time" class="form-label" style='color: black;'>Clock OUT</label>
                <input type="datetime-local" class="form-control" id="clock_out_time" name="clock_out_time" value="{{ clock_out_time|date:'Y-m-d H:i' }}" required>
            </div>
            
        </div>

        <div class="row mx-auto mb-2">

            <div class="col">
                <label for="reason" class="form-label">Muster Reason</label>
                <select class="form-select" id="reason" name="reason" required>
                    <option value="" disabled selected>-- Choose an option --</option>
                    <option value="On-site">On-site</option>
                    <option value="Forgot Login/out">Forgot Login/out</option>
                    <option value="Forgot Logout">Forgot Logout</option>
                    <option value="Network Issue">Network Issue</option>
                    <option value="Work From Home">Work From Home</option>
                </select>
            </div>
        
        </div>

        <div class="row mx-auto mb-4">

            <div class="col">
                <label for="date" class="form-label mt-3">Notes</label>
                <textarea class="form-control" id="notes" name="notes" rows="3"></textarea>
            </div>
            
        </div>

        <div class="row mx-auto">
            
            <div class="col">
                <button type="submit" class="btn btn-dark mx-auto">Submit</button>
            </div>
            
        </div>

    </form>

    <div id='muster-column'>
        <h5 id="muster-title">Muster Status</h5>
        <hr id='muster-divider'>
    </div>
    
    <div id="table-responsive-container">
        <table id="muster-table">
            <thead id="muster-table-header">
                <tr>
                    <th>Employee ID</th>
                    <th>Date</th>
                    <th>Clock-In Time</th>
                    <th>Clock-Out Time</th>
                    <th>Reason</th>

                    <th>Notes</th>
                    
                    <th>Status</th>
                </tr>
            </thead>
    
            <tbody>
                {% for entry in muster_entry %}
                <tr>
                    <td>{{ entry.employee_id }}</td>
                    <td>{{ entry.date }}</td>
                    <td>{{ entry.clock_in_time }}</td>
                    <td>{{ entry.clock_out_time }}</td>
                    <td>{{ entry.reason }}</td>
                    <td>{{ entry.notes }}</td>
                    <td>{{ entry.status.title }}</td>  
                </tr>
                {% endfor %}
    
                {% if request.user.is_authenticated and request.user.role == 'HR' or request.user.role == 'Manager' or request.user.is_superuser %}
                {% for entry in all_muster_entry %}
                <tr>
                    <td>{{ entry.employee_id }}</td>
                    <td>{{ entry.date }}</td>
                    <td>{{ entry.check_in_time }}</td>
                    <td>{{ entry.check_out_time }}</td>
                    <td>{{ entry.reason }}</td>
                    <td>{{ entry.notes }}</td>
                    <td>{{ entry.status.title }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
   

    
{% endblock %}